@model IEnumerable<BloodDonor_CRUD.Models.Donor>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DonorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthOfDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BloodType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactNo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DonorName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BirthOfDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BloodType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactNo)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.DonorId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.DonorId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.DonorId">Delete</a>
                </td>
            </tr>
        }
    </tbody>

    <tfoot>
    <td colspan="4">
        Grand total = @ViewBag.GrandTotal and No of Donors is @ViewBag.Count and Average is @ViewBag.Average
    </td>
    </tfoot>


</table>
